$font-size-base: 0.8rem;
$link-decoration: underline;
$link-color: #6c757d;
$emphasized-link-hover-darken-percentage: 30%;
$border-radius: 1rem;
$border-radius-lg: 1.2;
$border-radius-sm: 0.8rem;
$table-cell-padding: 1rem;
$table-cell-padding-sm: 0.5rem;
$primary: #212529;
$blue: #0275d8;
$green: #5cb85c;
$cyan: #5bc0de;
$yellow: #f0ad4e;
$red: #d9534f;
$badge-padding-y: 0.6em;
$badge-padding-x: 0.8em;
$badge-pill-padding-x: 0.8em;
